{strip}
	<h2 class="wb-content__categories-title">Выберите категории</h2>
	{function name="renderCategories" categories=[] depth=0}
		<ul class="wb-content__tree js-wb-tree" {if $depth > 0}style="display: none;"{/if}>
			{foreach $categories as $cat}
				<li data-category-id="{$cat['id']|escape}">
					{if isset($cat['categories']) and !empty($cat['categories'])}
						<span class="wb-content__tree-expand fa-solid fa-caret-right js-wb-expand"></span>
					{/if}
					
					<span class="wb-content__tree-select {if in_array($cat['id'], $condition_categories)}fa-solid fa-circle-check{else}fa-regular fa-circle{/if} js-wb-select"></span>
					
					{$cat['name']|escape}
					
					{if isset($cat['categories']) and !empty($cat['categories'])}
						{renderCategories categories=$cat['categories'] depth=$depth+1}
					{/if}
				</li>
			{/foreach}
		</ul>
	{/function}

	{if !empty($categories_tree)}
		{renderCategories categories=$categories_tree}
	{else}
		<div class="wb-content__rules-categories js-wb-select-rules-categories">Список категорий пуст</div>
	{/if}
	
	<div class="wb-content__tree-buttons">
		<button class='button button--wb js-wb-close-tree'>Закрыть</button>
		<button class='button button--wb js-wb-clear-tree'>Сбросить</button>
	</div>
{/strip}
