<div class="wb-content__content">
	<h2 class="wb-content__title">Параметры создания карточек</h2>
	<div class="wb-content__block">
	
		<div class="wb-content__row">
			<div class="wb-content__label">Выбрать товары</div>
			<div class="wb-content__field">
				
				<div class="wb-content__setting wb-content__setting--switch">
					
					<div class="wb-content__switch">
						<div class="wb-content__switch-item">
							<input id="wb-products-1" type="radio" value="1" class="wb-content__switch-button js-wb-save-settings" name="shop_products" {if $settings['shop_products'] == 1} checked{/if}>
							<label for="wb-products-1" class="wb-content__switch-label">Все</label>
						</div>
						<div class="wb-content__switch-item">
							<input id="wb-products-2" type="radio" value="2" class="wb-content__switch-button js-wb-save-settings" name="shop_products" {if $settings['shop_products'] == 2} checked{/if}>
							<label for="wb-products-2" class="wb-content__switch-label">Выбранные</label>
						</div>
					</div>
					
					<div class="wb-content__switch js-select-products-type" {if $settings['shop_products'] == 1}style="display: none;"{/if}>
						<div class="wb-content__switch-item">
							<input id="wb-products-type-1" type="radio" value="1" class="wb-content__switch-button js-wb-save-settings" name="shop_products_type" {if $settings['shop_products_type'] == 1} checked{/if}>
							<label for="wb-products-type-1" class="wb-content__switch-label">Категории</label>
						</div>
						<div class="wb-content__switch-item">
							<input id="wb-products-type-2" type="radio" value="2" class="wb-content__switch-button js-wb-save-settings" name="shop_products_type" {if $settings['shop_products_type'] == 2} checked{/if}>
							<label for="wb-products-type-2" class="wb-content__switch-label">Списки</label>
						</div>
					</div>
					
				</div>
			
				<div class="wb-content__setting js-select-products-categories" {if $settings['shop_products'] == 1 or $settings['shop_products_type'] == 2}style="display: none;"{/if}>
					
					{function name="categories" categories=[] depth=0}
						<ul class="wb-content__tree js-wb-tree" {if $depth > 0}style="display: none;"{/if}>
							{foreach $categories as $cat}
								<li data-category-id="{$cat['id']|escape}">
									{if isset($cat['categories']) and !empty($cat['categories'])}
										<span class="wb-content__tree-expand fa-solid fa-caret-right js-wb-expand"></span>
									{/if}
									<span class="wb-content__tree-select {if is_array($settings['shop_products_categories']) && in_array($cat['id'], $settings['shop_products_categories'])}fa-solid fa-circle-check{else}fa-regular fa-circle{/if} js-wb-select"></span>
									{$cat['name']|escape}
									{if isset($cat['categories']) and !empty($cat['categories'])}
										{categories categories=$cat['categories'] depth=$depth+1}
									{/if}
								</li>
							{/foreach}
						</ul>
					{/function}
					
					{if !empty($categories_tree)}
						{categories categories=$categories_tree}
					{/if}
					
				</div>
				
				<div class="wb-content__setting js-select-products-sets" {if $settings['shop_products'] == 1 or $settings['shop_products_type'] == 1}style="display: none;"{/if}>
					<select name="shop_products_sets" class="wb-content__input select2_multi js-wb-save-settings" multiple="multiple">
						{foreach $sets as $set}
							<option value="{$set['value']|escape}" {if is_array($settings['shop_products_sets']) && in_array($set['value'], $settings['shop_products_sets'])}selected{/if}>{$set['title']|escape}</option>
						{/foreach}
					</select>
				</div>
	
			</div>
		</div>
		
		<div class="wb-content__row">
			<div class="wb-content__label">Обновлять остатки и цены по фильтру</div>
			<div class="wb-content__field">
				<div class="wb-content__setting"><input class="wb-content__input js-wb-save-settings" type="checkbox" name="stock_prices_by_filter" {if $settings['stock_prices_by_filter']}checked{/if}></div>
				<div class="wb-content__description">При обновлении остатков и цен товары будут фильтроваться по выбранным выше спискам или категориям. Остальные товары будут проигнорированы.</div>
			</div>
		</div>
		
		<div class="wb-content__row">
			<div class="wb-content__label">Выгружать товары без картинок</div>
			<div class="wb-content__field">
				<div class="wb-content__setting"><input class="wb-content__input js-wb-save-settings" type="checkbox" name="is_images_out" {if $settings['is_images_out']}checked{/if}></div>
				<div class="wb-content__description">Фото должны быть в разрешении 700х900, качество > 65%. Если у карточки нет подходящих картинок, она все равно будет выгружена. Карточка попадет в раздел &laquo;Без фото&raquo;</div>
			</div>
		</div>
		
		<div class="wb-content__row">
			<div class="wb-content__label">Выгружать товары которых нет в наличии</div>
			<div class="wb-content__field">
				<div class="wb-content__setting"><input class="wb-content__input js-wb-save-settings" type="checkbox" name="is_stock_out" {if $settings['is_stock_out']}checked{/if}></div>
			</div>
		</div>
		
		<div class="wb-content__row">
			<div class="wb-content__label">Выгружать товары с ~ остатком</div>
			<div class="wb-content__field">
				<div class="wb-content__setting"><input class="wb-content__input js-wb-save-settings" type="checkbox" name="stock_is_null" {if $settings['stock_is_null']}checked{/if}></div>
			</div>
		</div>
		
		<div class="wb-content__row">
			<div class="wb-content__label">Шаблон Артикула Продавца</div>
			<div class="wb-content__field">
				<div class="wb-content__setting">
					<select class="wb-content__input js-wb-save-settings" name="nomID_by">
						<option value="product_id-variant_id"{if $settings['nomID_by'] == 'product_id-variant_id'} selected{/if}>ID товара - ID варианта</option>
						<option value="product_id-variant_name"{if $settings['nomID_by'] == 'product_id-variant_name'} selected{/if}>ID товара - Название варианта</option>
						<option value="product_id"{if $settings['nomID_by'] == 'product_id'} selected{/if}>ID товара</option>
						<option value="sku_id"{if $settings['nomID_by'] == 'sku_id'} selected{/if}>ID артикула</option>
						<option value="sku"{if $settings['nomID_by'] == 'sku'} selected{/if}>Код артикула</option>
					</select>
				</div>
				<div class="wb-content__description">
					Из выбранных полей будет сформирован Артикул Продавца.<br>
					Примеры:<br>
					ID товара - ID варианта: <u><i>20587-11</i></u> (рекомендуется)<br>
					ID товара - Название варианта: <u><i>20587-черный</i></u><br>
					ID товара: <u><i>20587</i></u><br>
					ID артикула: <u><i>394</i></u><br>
					Код артикула: <u><i>LM-001F-black</i></u>
				</div>
			</div>
		</div>
		
		<div class="wb-content__row">
			<div class="wb-content__label">Идентифицировать артикулы WB по</div>
			<div class="wb-content__field">
				<div class="wb-content__setting">
					<select class="wb-content__input js-wb-save-settings" name="chrtID_by">
						<option value="id"{if $settings['chrtID_by'] == 'id'} selected{/if}>ID артикула ShopScript</option>
						<option value="sku"{if $settings['chrtID_by'] == 'sku'} selected{/if}>Код артикула ShopScript</option>
					</select>
				</div>
				<div class="wb-content__description">Выбранное значение будет добавлено в поле Баркод. По полю Баркод обновляются остатки и загружаются заказы.</div>
			</div>
		</div>
		
		<div class="wb-content__row">
			<div class="wb-content__label">Объединить карточки по</div>
			<div class="wb-content__field">
				<div class="wb-content__setting">
					<select class="wb-content__input js-wb-save-settings" name="merge_by">
						{foreach $variants as $group}
							<optgroup label="{$group['group_name']|escape}">
								{foreach $group['group_values'] as $code => $feature}
									<option value="{$code|escape}"{if $code == $settings['merge_by']} selected{/if}>
										{$feature['title']|escape}
									</option>
								{/foreach}
							</optgroup>
						{/foreach}
					</select>
				</div>
				<div class="wb-content__description">Товары с одинаковыми значениями этой характеристики будут объединены в одну карточку как варианты. Незаполненные значения будут расцениваться как отдельные карточки без объединения. Допускается объединение максимум 30 карточек.</div>
			</div>
		</div>
		
		<div class="wb-content__row">
			<div class="wb-content__label">Лимит картинок в карточке</div>
			<div class="wb-content__field">
				<div class="wb-content__setting">
					<input class="wb-content__input js-wb-save-settings" type="number" name="images_Limit" value="{$settings['images_Limit']|escape}" min="1" max="30">
				</div>
				<div class="wb-content__description">Допускаются значения между 1 и 30</div>
			</div>
		</div>
		
		<div class="wb-content__row">
			<div class="wb-content__label">Конвертировать ед. изм. характеристик</div>
			<div class="wb-content__field">
				<div class="wb-content__setting">
					<div class="wb-content__setting">
						<input class="wb-content__input js-wb-save-settings" type="checkbox" name="convert_values" {if $settings['convert_values']}checked{/if}>
					</div>
				</div>
				<div class="wb-content__description">
					Автоматически конвертировать единицы измерения характеристик под требуемые величины ВБ. 
					Конвертируются только поддерживаемые характеристики. 
					Экспериментально. Отключите, если конвертация работает неправильно.
				</div>
			</div>
		</div>
	</div>

	<h2 class="wb-content__title">Параметры обновления</h2>
	<div class="wb-content__block">

		<div class="wb-content__row">
			<div class="wb-content__label">Обновлять названия карточек</div>
			<div class="wb-content__field">
				<div class="wb-content__setting">
					<input class="wb-content__input js-wb-save-settings" type="checkbox" name="wb_names_update" {if $settings['wb_names_update']}checked{/if}>
				</div>
			</div>
		</div>
		
		<div class="wb-content__row">
			<div class="wb-content__label">Обновлять описания карточек</div>
			<div class="wb-content__field">
				<div class="wb-content__setting">
					<input class="wb-content__input js-wb-save-settings" type="checkbox" name="wb_descriptions_update" {if $settings['wb_descriptions_update']}checked{/if}>
				</div>
			</div>
		</div>
		
		<div class="wb-content__row">
			<div class="wb-content__label">Обновлять характеристики карточек</div>
			<div class="wb-content__field">
				<div class="wb-content__setting">
					<input class="wb-content__input js-wb-save-settings" type="checkbox" name="wb_features_update" {if $settings['wb_features_update']}checked{/if}>
				</div>
			</div>
		</div>
		
		<div class="wb-content__row">
			<div class="wb-content__label">Добавлять новые варианты</div>
			<div class="wb-content__field">
				<div class="wb-content__setting">
					<input class="wb-content__input js-wb-save-settings" type="checkbox" name="add_noms_when_update" {if $settings['add_noms_when_update']}checked{/if}>
				</div>
			</div>
		</div>
		
	</div>
</div>