<div class="wb-content__content">
	<h2 class="wb-content__title">Сопоставление значений характеристик</h2>
	{if !is_null($directory_page)}<div class="wb-content__goback"><button class='button button--wb js-wb-goback'>Назад</button></div>{/if}
	<div class="wb-content__block">
		
		{if is_null($directory_page)}
			{foreach $wb_directories as $directory => $feature_name}
				<div class="wb-content__row">
					<div class="wb-content__label">{$feature_name|escape}</div>
					<div class="wb-content__field">
						<div class="wb-content__setting">
							<button class="button button--wb js-wb-sync-directory" data-directory="{$directory|escape}">Сопоставить</button>
						</div>
					</div>
				</div>
			{/foreach}
		{else}
			
			<div class="wb-content__row">
				<div class="wb-content__label"></div>
				<div class="wb-content__field">
					<button class='button button--wb js-load-wb-directory'>Загрузить значения словаря WB</button>
				</div>
			</div>
		
			{if !empty($shop_feature_values)}
				{foreach $shop_feature_values as $feature_value_id => $feature_value}
					<div class="wb-content__row wb-content__row--small">
						<div class="wb-content__label wb-content__label--small">{$feature_value|escape}</div>
						<div class="wb-content__field wb-content__field--small">
							<div class="wb-content__setting">
								<input type="text" placeholder="Начните вводить значение" class="wb-content__input wb-content__input--large js-wb-directory-input"
									data-value-id="{$feature_value_id|escape}" {if isset($wb_sync_directories[$feature_value_id])} value="{$wb_sync_directories[$feature_value_id]['wb_value']|escape}"{/if}>
							</div>
						</div>
					</div>
				{/foreach}
			{/if}
		{/if}
	</div>
	{if !is_null($directory_page)}<div class="wb-content__goback"><button class='button button--wb js-wb-goback'>Назад</button></div>{/if}
</div>

{if is_null($directory_page)}
	<script>
		
		$('.js-wb-sync-directory').click(function () {

			let directory = $(this).attr("data-directory");

			$('.wb-content').html('<div class="wb-content__content wb-content__content--loading"><i class="icon16 loading"></i></div>')
			  .load("?plugin=wildb&module=settings&action=directory&wb_directory_page=" + directory, function () {
				  // add triggers to content
			  });
		});
		
	</script>
{else}
	<script>
		$('.js-load-wb-directory').click(function () {

			let $load_status = $(this).parent().parent().children().first();

			$load_status.html('<i class="icon16 loading"></i>');

			$.ajax("?plugin=wildb&action=loadWbDirectory&directory={$directory_page|escape}").done(function (data) {

				if(data.data.status === true){

					$load_status.html($("<span>Справочник успешно загружен</span>").hide(3000));

					shopWildbSetAutocompleteDirectory(data.data.source);
				}else{
					$load_status.html($("<span>" + data.data.error + "</span>").hide(3000));
				}
			});
		});

		function shopWildbSetAutocompleteDirectory(source){

			$(source).each(function (i,e) {
				e.value = e.name;
				e.label = e.name;
			});

			$('.js-wb-directory-input').autocomplete({
				source: source,
				delay: 300,
				change: function(event,item){
					$.ajax({
						type: 'post',
						data: {
							shop_feature_id: {$shop_feature_id|escape},
							shop_value_id: $(event.target).attr('data-value-id'),
							wb_value_id: item.item === null ? null : item.item.id,
						},
						url: '?plugin=wildb&action=syncDirectory',
					});
				}
			});
		}

		$('.js-wb-goback').click(function () {
			shopWildbShowMenu('directory');
		});

		shopWildbSetAutocompleteDirectory({$wb_feature_values});
	</script>
{/if}