<div class="wb-content__content">
	
	<h2 class="wb-content__title">Настройка цен</h2>
	
	<div class="wb-overlay js-wb-tree-overlay"></div>
	<div class="wb-content__rules-categories js-wb-popup-rules-categories" style="display: none"></div>
	
	{function name="renderPriceRules" type="" title=""}
		
		{$js_price_rules_class = "js-"|cat:str_replace("_","-",$type)|escape}
		
		{if $type == 'wb_old_price_rules'}
			<div class="wb-content__row">
				<div class="wb-content__label wb-content__label--required">{$title|escape}</div>
				<div class="wb-content__field">
					<div class="wb-content__setting">
						<select class="wb-content__input js-wb-save-settings" name="wb_old_price">
							{foreach $price_fields as $price_group}
								<optgroup label="{$price_group['group_name']|escape}">
									{foreach $price_group['group_values'] as $price}
										<option value="{$price['value']|escape}"{if $price['value'] == $settings['wb_old_price']} selected{/if}>
											{$price['title']|escape}
										</option>
									{/foreach}
								</optgroup>
							{/foreach}
						</select>
					</div>
				</div>
			</div>
		{/if}
		
		<div class="wb-content__row">
			<div class="wb-content__label">{if $type == 'wb_old_price_rules'}Наценка{elseif $type == 'wb_price_rules'}Скидка{/if}</div>
			<div class="wb-content__field">
				<div class="wb-content__setting {$js_price_rules_class}" data-price-rules="{$type|escape}">
					{if is_array($settings[{$type}])}
						{foreach $settings[{$type}] as $i => $rule}
							<div class="wb-price-rule js-wb-price-rule">
								{$connector = array_key_first($rule['conditions'])|escape}
								<div class="wb-price-rule__column wb-price-rule__column--sortable">
									<div class="wb-price-rule__row wb-price-rule__row--icon">
										<a title='Переместить правило'><i class="icon16 sort stock-rows-handle"></i></a>
									</div>
								</div>
								<div class="wb-price-rule__column js-rule-connector">
									<div class="wb-price-rule__row">
										<select name="connector" class="js-wb-save-settings">
											<option value="or" {if $connector === 'or'} selected{/if}>ИЛИ</option>
											<option value="and" {if $connector === 'and'} selected{/if}>И</option>
										</select>
									</div>
									<div class="wb-price-rule__row wb-price-rule__row--icon">
										<a class='js-wb-add-price-condition' title="Добавить условие"><i class='icon16 add'></i></a>
									</div>
									{if count($rule['conditions'][$connector]) > 1}
										<div class="wb-price-rule__row wb-price-rule__row--conditions-icon"></div>
									{/if}
								</div>
								<div class="wb-price-rule__column js-rule-conditions" id="conditions{$i}">
									<label for="conditions{$i}" class="wb-price-rule__label">Если</label>
									{foreach $rule['conditions'][$connector] as $condition}
										<div class="wb-price-rule__row js-rule-condition">
											<select name="feature" class="js-wb-save-settings js-wb-render-inputs">
												<option value="price" {if $condition['feature'] === 'price'} selected{/if}>Цена</option>
												<option value="weight" {if $condition['feature'] === 'weight'} selected{/if}>Вес</option>
												<option value="category_id" {if $condition['feature'] === 'category_id'} selected{/if}>Категория</option>
											</select>
											{if $condition['feature'] == 'category_id'}
												<input type="text" value="{$condition['value']|escape}" name="value" style="display:none">
												<button class="button button--wb button--category_id js-wb-open-rules-categories">Выбрать</button>
											{else}
												<select name="operand" class="wb-content__select_stock_rule js-wb-save-settings">
													<option value=">" {if $condition['operand'] === '>'} selected{/if}>Больше</option>
													<option value="<" {if $condition['operand'] === '<'} selected{/if}>Меньше</option>
													<option value="=" {if $condition['operand'] === '='} selected{/if}>Равно</option>
												</select>
												<input type="number" min="0" value="{$condition['value']|escape}" name="value" class="wb-content__input--small js-wb-save-settings">
											{/if}
											<div class="wb-price-rule_icon"><a class='js-wb-delete-price-condition' title="Удалить условие"><i class='icon16 delete'></i></a></div>
										</div>
									{/foreach}
								</div>
								<div class="wb-price-rule__column" id="rule{$i}">
									<label for="rule{$i}" class="wb-price-rule__label">Тогда</label>
									{if $type == 'wb_old_price_rules'}
										<div class="wb-price-rule__row" data-markup="markup1">
											<span>+</span>
											<input type="number" min="0" value="{$rule['markup1']['value']|escape}" name="value" class="wb-content__input--small js-wb-save-settings">
											<select name="type" class="js-wb-save-settings">
												<option value="percent" {if $rule['markup1']['type'] === 'percent'} selected{/if}>%</option>
												<option value="fix" {if $rule['markup1']['type'] === 'fix'} selected{/if}>руб.</option>
											</select>
										</div>
										<div class="wb-price-rule__row" data-markup="markup2">
											<span>+</span>
											<input type="number" min="0" value="{$rule['markup2']['value']|escape}" name="value" class="wb-content__input--small js-wb-save-settings">
											<select name="type" class="js-wb-save-settings">
												<option value="percent" {if $rule['markup2']['type'] === 'percent'} selected{/if}>%</option>
												<option value="fix" {if $rule['markup2']['type'] === 'fix'} selected{/if}>руб.</option>
											</select>
										</div>	
									{elseif $type == 'wb_price_rules'}
										<div class="wb-price-rule__row">
											<span>-</span>
											<input type="number" min="0" value="{$rule['discount']|escape}" name="discount" class="wb-content__input--small js-wb-save-settings">
											<span>%</span>
										</div>
									{/if}
								</div>
								<div class="wb-price-rule__column wb-delete-price-rule">
									<div class="wb-price-rule__row">
										<a class="js-wb-delete-price-rule" title="Удалить правило"><i class="icon16 delete"></i></a>
									</div>
								</div>
							</div>
						{/foreach}
					{/if}
				</div>
				<div class="wb-content__setting"><a class='wb-add-rule js-wb-add-price-rule' data-price-rule="{$js_price_rules_class}"><i class='icon16 add'></i>Добавить правило</a></div>
			</div>
		</div>
	{/function}
	
	<div class="wb-content__block">
		
		<div class="wb-content__row">
			<div class="wb-content__label">Минимальная цена</div>
			<div class="wb-content__field">
				<div class="wb-content__setting"><input class="wb-content__input js-wb-save-settings" type="number" min="0" name="min_price" value="{$settings['min_price']|escape}"></div>
				<div class="wb-content__description">Товары с ценой ниже указанной выгружаться не будут</div>
			</div>
		</div>
		
		<div class="wb-content__row">
			<div class="wb-content__label wb-content__label">Характеристика Вес</div>
			<div class="wb-content__field">
				<div class="wb-content__setting">
					<select name="wb_price_rules_weight" class="wb-content__input js-wb-save-settings">
						{foreach $features as $feature}
							<option value="{$feature['value']|escape}"{if $feature['value'] == $settings['wb_price_rules_weight']} selected{/if}>{$feature['title']|escape}</option>
						{/foreach}
					</select>
				</div>
				<div class="wb-content__description">Будет использована в правилах наценки в качестве Веса</div>
			</div>
		</div>
		
		{renderPriceRules type="wb_old_price_rules" title="Цена"}
		{renderPriceRules type="wb_price_rules" title="Скидка"}
		
	</div>
	
	<h3 class="wb-content__subtitle">CRON</h3>
	
	<div class="wb-content__block">
		<div class="wb-content__row">
			<div class="wb-content__label">
				<button class='button button--wb js-wb-update' data-type="prices">Обновить цены</button>
			</div>
			<div class="wb-content__field js-wb-update-result"></div>
		</div>
		<div class="wb-content__row">
			<div class="wb-content__label">Обновление цен</div>
			<div class="wb-content__field">
				<div class="wb-content__setting">
					<input class="wb-content__input wb-content__input--large wb-content__input--disabled js-wb-input-cron" type="text" readonly value="0 2 * * * {$cron|escape} wildbUpdatePrices">
				</div>
				<div class="wb-content__description">Для автоматического обновления цен используйте команду CRON</div>
			</div>
		</div>
	</div>
</div>