{if $api_log && count($api_log) > 0}
	<div class="wb-content__pager">
		{if count($api_log) === $page_limit || $page > 0}
			<button {if $page === 0}disabled{/if} class="button button--wb js-api-change-page" data-page="0" data-task="{$request_task}"><i class="wb-icon fas fa-fast-backward"></i>В начало</button>
			<button {if $page === 0}disabled{/if} class="button button--wb js-api-change-page" data-page="{$page - 1}" data-task="{$request_task}"><i class="wb-icon fas fa-step-backward"></i>Следующие</button>
			<button {if count($api_log) < $page_limit}disabled{/if} class="button button--wb js-api-change-page" data-page="{$page + 1}" data-task="{$request_task}"><i class="wb-icon fas fa-step-forward"></i>Предыдущие</button>
		{/if}
	</div>
	<div class="table-emulate">
		<div class="table-emulate__row table-emulate__row--header">
			<div class="table-emulate__cell">Дата и время</div>
			<div class="table-emulate__cell">Код статуса</div>
			<div class="table-emulate__cell">Статус</div>
			<div class="table-emulate__cell">Ошибка WB</div>
			<div class="table-emulate__cell">Текст ошибки WB</div>
			<div class="table-emulate__cell">Обработано</div>
		</div>
		{foreach $api_log as $log}
			<div class="table-emulate__row">
				<div class="table-emulate__cell">
					<span class="table-emulate__field-value">{$log['date_start']|date_format:'d.m.Y H:i:s'}</span>
				</div>
				<div class="table-emulate__cell">
					<span class="table-emulate__field-value">{$log['status']|escape}</span>
				</div>
				<div class="table-emulate__cell">
					<span class="table-emulate__field-value">{$log['message']|escape}</span>
				</div>
				<div class="table-emulate__cell">
					<span class="table-emulate__field-value">{if $log['error']}Ошибка{else}Нет{/if}</span>
				</div>
				<div class="table-emulate__cell">
					<span class="table-emulate__field-value">{$log['error_text']|escape}</span>
				</div>
				<div class="table-emulate__cell">
					<span class="table-emulate__field-value">
						{if shopWildbPlugin::chkLcs() === shopWildbPlugin::LICENSE_PREMIUM}
						<a class="" title="Посмотреть подробный отчет" href="#">{count($log['items'])|escape}</a>
						{else}
							{$log['items']|escape}
						{/if}
					</span>
				</div>
			</div>
		{/foreach}
	</div>
{else}
	<div class="wb-content__content--loading">Записей нет</div>
{/if}