<script src="{shopWildbPlugin::nocache($plugin_url|escape|cat:'js/export.js')}"></script>
<div class="wb-content__content">
	<h2 class="wb-content__title">Экспорт товаров</h2>
	{if !$tasks}
		<div class="wb-content__row js-wb-task">
			<div class="wb-content__label">
				<button class='button button--wb button--wb-export js-wb-export' data-action="export_cards">Выгрузить новые карточки</button>
			</div>
			<div class="wb-content__field wb-content__field--task">
				<div class="wb-content__description">Добавление задания на создание новых карточек и картинок</div>
			</div>
		</div>
		<div class="wb-content__row js-wb-task">
			<div class="wb-content__label">
				<button class='button button--wb button--wb-export js-wb-export' data-action="update_cards">Обновить все карточки</button>
			</div>
			<div class="wb-content__field wb-content__field--task">
				<div class="wb-content__description">Добавление задания на обновление существующих карточек без обновления картинок</div>
			</div>
		</div>
		<div class="wb-content__row js-wb-task">
			<div class="wb-content__label">
				<button class='button button--wb button--wb-export js-wb-export' data-action="export_all_images">Обновить все картинки</button>
			</div>
			<div class="wb-content__field wb-content__field--task">
				<div class="wb-content__description">Добавление задания на обновление картинок у всех существующих карточек</div>
			</div>
		</div>
		<div class="wb-content__row js-wb-task">
			<div class="wb-content__label">
				<button class='button button--wb button--wb-export js-wb-export' data-action="export_missing_images">Отсутствующие картинки</button>
			</div>
			<div class="wb-content__field wb-content__field--task">
				<div class="wb-content__description">Добавление задания на загрузку картинок у карточек Без фото</div>
			</div>
		</div>
		<div class="wb-content__row js-wb-task">
			<div class="wb-content__label">
				<button class='button button--wb button--wb-export js-wb-export' data-action="download_cards">Сопоставить карточки</button>
			</div>
			<div class="wb-content__field wb-content__field--task">
				<div class="wb-content__description">
					Добавление задания на cопоставление карточек WB с товарами SS.<br>
					Поиск и сопоставление идет по полю Код/ID артикула (в зависимости от выбранной настройки Идентифицировать артикулы WB по)<br>
					Карточки не создаются в SS, а только сопоставляются.<br>
					Сопоставленные карточки можно обновлять и устанавливать для них цены и скидки.
				</div>
			</div>
		</div>
		{if $last_tasks && count($last_tasks) > 0}
			<h3 class="wb-content__subtitle">Последние выполненные задания</h3>
			<div class="wb-content__block">
				<div class="table-emulate">
					<div class="table-emulate__row table-emulate__row--header">
						<div class="table-emulate__cell">Задача</div>
						<div class="table-emulate__cell">Создано</div>
						<div class="table-emulate__cell">Выполнено</div>
						<div class="table-emulate__cell">Обработанных карточек</div>
					</div>
					{foreach $last_tasks as $task}
						<div class="table-emulate__row">
							<div class="table-emulate__cell">
								<span class="table-emulate__field-value">{$task_names[$task['task']]|escape}</span>
							</div>
							<div class="table-emulate__cell">
								<span class="table-emulate__field-value">{$task['create_time']|date_format:'d.m.Y H:i:s'}</span>
							</div>
							<div class="table-emulate__cell">
								<span class="table-emulate__field-value">{$task['finish_time']|date_format:'d.m.Y H:i:s'}</span>
							</div>
							<div class="table-emulate__cell">
								<span class="table-emulate__field-value">{$task['items']|escape}</span>
							</div>
						</div>
					{/foreach}
				</div>
			</div>
		{/if}
	{else}
		<div class="wb-content__row">
			<div class="wb-content__label">Запущенные задания</div>
			<div class="wb-content__field">
				{foreach $tasks as $task}
					<div class="wb-content__setting wb-content__tasks">
						<span>{$task_names[$task['task']]|escape}</span>
						<span>{$task['create_time']|date_format:'d.m.Y H:i:s'}</span>
						<span><a class="js-wb-delete-task" data-task="{$task['id']|escape}" title="Удалить задание"><i class="icon16 delete"></i></a></span>
					</div>
				{/foreach}
				<div class="wb-content__description">Пожалуйста, дождитесь завершения выполнения задач</div>
			</div>
		</div>
	{/if}
	
	<h3 class="wb-content__subtitle">CRON</h3>
	<div class="wb-content__block">
		<div class="wb-content__row">
			<div class="wb-content__label">Задания на экспорт</div>
			<div class="wb-content__field">
				<div class="wb-content__setting">
					<input class="wb-content__input wb-content__input--large wb-content__input--disabled js-wb-input-cron" type="text" readonly value="* * * * * {$flock|escape}wildb.lock {$cron|escape} wildbExport">
				</div>
				<div class="wb-content__description">Для выполнения заданий на экспорт необходимо добавить команду CRON</div>
			</div>
		</div>
		<div class="wb-content__row">
			<div class="wb-content__label">Справочно</div>
			<div class="wb-content__field">
				<div class="wb-content__description">
					Выберите желаемое действие для создания заданий на экспорт.
					Для того, чтобы задание выполнилось, добавьте команду CRON c ежеминутным выполнением.
					Без добавления команды CRON задания выполняться не будут и в личный кабинет данные не попадут.
					За один раз можно создать только одно задание. Когда оно выполнится, можно будет создать новое.
					Рекомендуется использовать совместо с FLOCK
				</div>
			</div>
		</div>
	</div>
</div>
