<div class="wb-content__content" style="display: block">
	<h2 class="wb-content__title">Настройки API</h2>
	<div class="wb-content__block">
		<div class="wb-content__row">
			<div class="wb-content__label wb-content__label--required">Токен API</div>
			<div class="wb-content__field">
				<div class="wb-content__setting"><input class="wb-content__input wb-content__input--large js-wb-save-settings" type="text" name="api_token" value="{$settings['api_token']|escape}"></div>
				<div class="wb-content__description">В личном кабинете продавца Wildberries, в разделе Профиль --> Настройки --> Доступ к API сгенеруйте новый токен API (доступы: Маркетплейс, Контент, Цены и скидки)</div>
			</div>
		</div>
		<div class="wb-content__row">
			<div class="wb-content__label">Режим отладки</div>
			<div class="wb-content__field">
				<div class="wb-content__setting"><input class="wb-content__input js-wb-save-settings" type="checkbox" name="wb_debug" {if $settings['wb_debug']}checked{/if}></div>
			</div>
		</div>
	</div>
</div>