<div class="wb-content__content">
	<h2 class="wb-content__title">Настройка передачи остатков</h2>
	<div class="wb-content__block">
	
		<div class="wb-content__row">
			<div class="wb-content__label wb-content__label--required">ID склада WB</div>
			<div class="wb-content__field">
				<div class="wb-content__setting"><input class="wb-content__input js-wb-save-settings" type="text" name="wb_stock_id" value="{$settings['wb_stock_id']|escape}"></div>
				<div class="wb-content__description">Узнать можно в личном кабинете продавца Wildberries, в разделе Маркетплейс --> Мои склады и пропуска --> Склад продавца</div>
			</div>
		</div>
		
		<div class="wb-content__row">
			<div class="wb-content__label">Выбрать склады</div>
			<div class="wb-content__field">
				<div class="wb-content__setting">
					<select class="wb-content__input js-wb-save-settings js-select-stocks" name="shop_stocks">
						<option value="1"{if $settings['shop_stocks'] == 1} selected{/if}>Все</option>
						<option value="2"{if $settings['shop_stocks'] == 2} selected{/if}>Выбранные</option>
					</select>
				</div>
				<div class="wb-content__setting js-field-stocks-id">
					<select name="shop_stocks_id" class="wb-content__input select2_multi js-wb-save-settings js-select-stocks-id" multiple="multiple">
						{foreach $stocks as $stock}
							<option value="{$stock['value']|escape}"{if is_array($settings['shop_stocks_id']) &&  in_array($stock['value'], $settings['shop_stocks_id'])} selected{/if}>{$stock['title']|escape}</option>
						{/foreach}
					</select>
				</div>
			</div>
		</div>
		
		<div class="wb-content__row">
			<div class="wb-content__label">Подмена наличия</div>
			<div class="wb-content__field">
				<div class="wb-content__setting js-wb-stock-rules">
					{if is_array($settings['stock_rules'])}
						{foreach $settings['stock_rules'] as $rule}
							<div class="wb-stock-rule js-wb-stock-rule">
								<span>Если наличие</span>
								<select name="operand" class="wb-content__select_stock_rule js-wb-save-settings">
									<option value=">" {if $rule['operand'] === '>'} selected{/if}>Больше</option>
									<option value="<" {if $rule['operand'] === '<'} selected{/if}>Меньше</option>
									<option value="=" {if $rule['operand'] === '='} selected{/if}>Равно</option>
								</select>
								<input type="number" min="0" value="{$rule['right_argument']|escape}" name="right_argument" class="wb-content__input--small js-wb-save-settings">
								<span>, то ответить</span>
								<input type="number" min="0" value="{$rule['result']|escape}" name="result" class="wb-content__input--small js-wb-save-settings">
								<a class="wb-delete-stock-rule js-wb-delete-stock-rule"><i class="icon16 delete"></i></a>
							</div>
						{/foreach}
					{/if}
				</div>
				<div class="wb-content__description"><a class='wb-add-rule js-wb-add-stock-rule'><i class='icon16 add'></i>Добавить условие</a></div>
			</div>
		</div>
		
		<div class="wb-content__row">
			<div class="wb-content__label">Количество для ~ остатка</div>
			<div class="wb-content__field">
				<div class="wb-content__setting"><input class="wb-content__input js-wb-save-settings" type="number" min="0" name="stock_null_count" value="{$settings['stock_null_count']|escape}"></div>
			</div>
		</div>
		
	</div>
	<h3 class="wb-content__subtitle">CRON</h3>
	<div class="wb-content__block">
		<div class="wb-content__row">
			<div class="wb-content__label">
				<button class='button button--wb js-wb-update' data-type="stocks">Обновить остатки</button>
			</div>
			<div class="wb-content__field js-wb-update-result"></div>
		</div>
		<div class="wb-content__row">
			<div class="wb-content__label">Обновление остатков</div>
			<div class="wb-content__field">
				<div class="wb-content__setting">
					<input class="wb-content__input wb-content__input--large wb-content__input--disabled js-wb-input-cron" type="text" readonly value="*/20 * * * * {$cron|escape} wildbUpdateStocks">
				</div>
				<div class="wb-content__description">Для автоматического обновления остатков используйте команду CRON</div>
			</div>
		</div>
	</div>
</div>