<script src="{shopWildbPlugin::nocache($plugin_url|escape|cat:'js/settings.js')}"></script>
<script src="{shopWildbPlugin::nocache($plugin_url|escape|cat:'assets/js/select2.js')}"></script>
<script src="{shopWildbPlugin::nocache($plugin_url|escape|cat:'assets/js/tooltip.js')}"></script>
<script src="{shopWildbPlugin::nocache($plugin_url|escape|cat:'assets/js/tippyjs/popper.min.js')}"></script>
<script src="{shopWildbPlugin::nocache($plugin_url|escape|cat:'assets/js/tippyjs/tippy-bundle.umd.min.js')}"></script>
<link href="{shopWildbPlugin::nocache($plugin_url|escape|cat:'css/settings.css')}" rel='stylesheet'>
<link href="{shopWildbPlugin::nocache($plugin_url|escape|cat:'assets/css/select2.css')}" rel='stylesheet'>
<link href="{shopWildbPlugin::nocache($plugin_url|escape|cat:'assets/css/fontawesome.css')}" rel='stylesheet'>
<link href="{shopWildbPlugin::nocache($plugin_url|escape|cat:'assets/css/solid.css')}" rel='stylesheet'>
<link href="{shopWildbPlugin::nocache($plugin_url|escape|cat:'assets/css/regular.css')}" rel='stylesheet'>
<link href="{shopWildbPlugin::nocache($plugin_url|escape|cat:'assets/css/brands.css')}" rel='stylesheet'>

<div class="wb-container">
	
	<div class="wb-title">
		<h1 class="wb-title__header">Интеграция с Wildberries</h1>
		<div class="wb-menu">
			<ul class="wb-menu__items">
				<li class="wb-menu__item wb-menu__dropdown" data-item="api">
					<i class="wb-icon fa-solid fa-key"></i>Настройки API
					<div class="wb-menu__dropdown-box">
						<ul class="wb-menu__subitems">
							<li class="wb-menu__item js-wb-menu-item" data-item="api"><i class="wb-icon fa-solid fa-key"></i>Настройки API</li>
							<li class="wb-menu__item js-wb-menu-item" data-item="apiLog"><i class="wb-icon fa-solid fa-right-left"></i>Лог обмена</li>
						</ul>
					</div>
				</li>
				<li class="wb-menu__item wb-menu__dropdown" data-item="export">
					<i class="wb-icon fa-solid fa-cloud-arrow-up"></i>Экспорт товаров
					<div class="wb-menu__dropdown-box">
						<ul class="wb-menu__subitems">
							<li class="wb-menu__item js-wb-menu-item" data-item="goods"><i class="wb-icon fa-solid fa-box"></i>Товары</li>
							<li class="wb-menu__item js-wb-menu-item" data-item="categories"><i class="wb-icon fa-solid fa-folder"></i>Категории</li>
							<li class="wb-menu__item js-wb-menu-item" data-item="features"><i class="wb-icon fa-solid fa-percent"></i>Характеристики</li>
							<li class="wb-menu__item js-wb-menu-item" data-item="directory"><i class="wb-icon fa-solid fa-equals"></i>Значения характеристик</li>
							<li class="wb-menu__item js-wb-menu-item" data-item="exportCards"><i class="wb-icon fa-solid fa-cloud-arrow-up"></i>Экспорт товаров</li>
						</ul>
					</div>
				</li>
				<li class="wb-menu__item js-wb-menu-item" data-item="prices"><i class="wb-icon fa-solid fa-tags"></i>Цены</li>
				<li class="wb-menu__item js-wb-menu-item" data-item="stocks"><i class="wb-icon fa-solid fa-boxes-packing"></i>Остатки</li>
				<li class="wb-menu__item js-wb-menu-item" data-item="orders"><i class="wb-icon fa-brands fa-shopify"></i>Заказы</li>
			</ul>
		</div>
		<a href="{$wa_backend_url}installer/store/plugin/shop/wildb/" class="premium-features">Возможности Premium лицензии</a>
	</div>
	
	<div class="wb-content">
		
	</div>
	
</div>