<div class="wb-content__content">
	<h2 class="wb-content__title">Работа с заказами</h2>
	<div class="wb-content__block">
		
		<div class="wb-content__row">
			<div class="wb-content__label wb-content__label--required">ID контакта для заказов</div>
			<div class="wb-content__field">
				<div class="wb-content__setting"><input class="wb-content__input js-wb-save-settings" type="number" min="0" name="contact_id" value="{$settings['contact_id']|escape}"></div>
			</div>
		</div>
		
		<div class="wb-content__row">
			<div class="wb-content__label">Действие после создания заказа</div>
			<div class="wb-content__field">
				<div class="wb-content__setting">
					<select class="wb-content__input js-wb-save-settings" name="workflow_new">
						{foreach $workflow_actions_single as $action}
							<option value="{$action['value']|escape}"{if $action['value'] == $settings['workflow_new']} selected{/if}>{$action['title']|escape}</option>
						{/foreach}
					</select>
				</div>
			</div>
		</div>
		
		<div class="wb-content__row">
			<div class="wb-content__label">Способ доставки, который будет выбран в заказе</div>
			<div class="wb-content__field">
				<div class="wb-content__setting">
					<select class="wb-content__input js-wb-save-settings" name="shipping_new">
						{foreach $shippings as $shipping}
							<option value="{$shipping['value']|escape}"{if $shipping['value'] == $settings['shipping_new']} selected{/if}>{$shipping['title']|escape}</option>
						{/foreach}
					</select>
				</div>
			</div>
		</div>
		
		<div class="wb-content__row">
			<div class="wb-content__label">Способ оплаты, который будет выбран в заказе</div>
			<div class="wb-content__field">
				<div class="wb-content__setting">
					<select class="wb-content__input js-wb-save-settings" name="payment_new">
						{foreach $payments as $payment}
							<option value="{$payment['value']|escape}"{if $payment['value'] == $settings['payment_new']} selected{/if}>{$payment['title']|escape}</option>
						{/foreach}
					</select>
				</div>
			</div>
		</div>
		
		<div class="wb-content__row">
			<div class="wb-content__label">Время, до которого копить заказы в поставку</div>
			<div class="wb-content__field">
				<div class="wb-content__setting">
					<input class="wb-content__input js-wb-save-settings" type="time" name="time_to_create_new_supply" value="{ifempty($settings['time_to_create_new_supply']|escape,'08:00')}">
				</div>
				<div class="wb-content__description">Все подтвержденные заказы попадают в одну поставку с текущей датой. После указанного времени будет создана новая поставка с завтрашней датой. Значение по-умолчанию 08:00</div>
			</div>
		</div>
		
		<div class="wb-content__row">
			<div class="wb-content__label">Не отслеживать заказы со статусами</div>
			<div class="wb-content__field">
				<div class="wb-content__setting">
					<select name="check_orders_witchout_statuses" class="wb-content__input select2_multi js-wb-save-settings" multiple="multiple">
						{foreach $workflow_states as $state}
							<option value="{$state['value']|escape}"{if is_array($settings['check_orders_witchout_statuses']) &&  in_array($state['value'], $settings['check_orders_witchout_statuses'])} selected{/if}>{$state['title']|escape}</option>
						{/foreach}
					</select>
				</div>
				<div class="wb-content__description">Заказы с этими статусами не будут отслеживаться на WB. Максимальное количество отслеживаемых заказов 1000</div>
			</div>
		</div>
	</div>
	
	<h3>Действия с заказом Wildberries, выполняемые при действии с заказом в Shop-Script</h3>
	
	<div class="wb-content__block">
		<div class="wb-content__row">
			<div class="wb-content__label">Подтверждение заказа</div>
			<div class="wb-content__field">
				<div class="wb-content__setting">
					<select name="orders_wb_confirm" class="wb-content__input select2_multi js-wb-save-settings" multiple="multiple">
						{foreach $workflow_actions_multi as $action}
							<option value="{$action['value']|escape}"{if is_array($settings['orders_wb_confirm']) &&  in_array($action['value'], $settings['orders_wb_confirm'])} selected{/if}>{$action['title']|escape}</option>
						{/foreach}
					</select>
				</div>
				<div class="wb-content__description">При переводе заказа в этот статус, сборочное задание на WB автоматически добавится в поставку и перейдет в статус На сборке</div>
			</div>
		</div>
		
		<div class="wb-content__row">
			<div class="wb-content__label">Отклонение заказа</div>
			<div class="wb-content__field">
				<div class="wb-content__setting">
					<select name="orders_wb_cancel" class="wb-content__input select2_multi js-wb-save-settings" multiple="multiple">
						{foreach $workflow_actions_multi as $action}
							<option value="{$action['value']|escape}"{if is_array($settings['orders_wb_cancel']) && in_array($action['value'], $settings['orders_wb_cancel'])} selected{/if}>{$action['title']|escape}</option>
						{/foreach}
					</select>
				</div>
			</div>
		</div>
	</div>
	
	<h3>Действия с заказом Shop-Script, выполняемые при смене статуса заказа Wildberries</h3>
	
	<div class="wb-content__block">
		<div class="wb-content__row">
			<div class="wb-content__label">Заказ подтвержден</div>
			<div class="wb-content__field">
				<div class="wb-content__setting">
					<select name="orders_shop_confirm" class="wb-content__input js-wb-save-settings">
						{foreach $workflow_actions_single as $action}
							<option value="{$action['value']|escape}"{if $action['value'] == $settings['orders_shop_confirm']} selected{/if}>{$action['title']|escape}</option>
						{/foreach}
					</select>
				</div>
				<div class="wb-content__description">Если вы самостоятельно управляете поставками из личного кабинета WB, это действие сменит статус заказа в ShopScript</div>
			</div>
		</div>
		
		<div class="wb-content__row">
			<div class="wb-content__label">Заказ в доставке</div>
			<div class="wb-content__field">
				<div class="wb-content__setting">
					<select name="orders_shop_complete" class="wb-content__input js-wb-save-settings">
						{foreach $workflow_actions_single as $action}
							<option value="{$action['value']|escape}"{if $action['value'] == $settings['orders_shop_complete']} selected{/if}>{$action['title']|escape}</option>
						{/foreach}
					</select>
				</div>
			</div>
		</div>
		
		<div class="wb-content__row">
			<div class="wb-content__label">Заказ получен покупателем</div>
			<div class="wb-content__field">
				<div class="wb-content__setting">
					<select name="orders_shop_sold" class="wb-content__input js-wb-save-settings">
						{foreach $workflow_actions_single as $action}
							<option value="{$action['value']|escape}"{if $action['value'] == $settings['orders_shop_sold']} selected{/if}>{$action['title']|escape}</option>
						{/foreach}
					</select>
				</div>
			</div>
		</div>
		
		<div class="wb-content__row">
			<div class="wb-content__label">Заказ отменен покупателем</div>
			<div class="wb-content__field">
				<div class="wb-content__setting">
					<select name="orders_shop_cancel" class="wb-content__input js-wb-save-settings">
						{foreach $workflow_actions_single as $action}
							<option value="{$action['value']|escape}"{if $action['value'] == $settings['orders_shop_cancel']} selected{/if}>{$action['title']|escape}</option>
						{/foreach}
					</select>
				</div>
			</div>
		</div>
	</div>
	<h3 class="wb-content__subtitle">CRON</h3>
	<div class="wb-content__block">
		<div class="wb-content__row">
			<div class="wb-content__label">Синхронизация заказов</div>
			<div class="wb-content__field">
				<div class="wb-content__setting">
					<input class="wb-content__input wb-content__input--large wb-content__input--disabled js-wb-input-cron" type="text" readonly value="*/15 * * * * {$cron|escape} wildbOrders">
				</div>
				<div class="wb-content__description">Для автоматической синхронизации заказов используйте команду CRON</div>
			</div>
		</div>
	</div>
</div>