<div class="wb-content__content">
	<h2 class="wb-content__title">Настройки сопоставлений категорий</h2>
	
	<div class="wb-content__block">
		{if !$wb_categories}
			<div class="wb-content__row wb-content__row--small">
				<div class="wb-content__label wb-content__label--small"></div>
				<div class="wb-content__field wb-content__field--small">
					<div class="wb-content__setting wb-content__error">Ошибка загрузки категорий WB!</div>
					<div class="wb-content__description">Детали можно посмотреть в логах.</div>
				</div>
			</div>
		{/if}
		{function name="syncCategories" categories=[] depth=0}
			{foreach $categories as $cat}
				<div class="wb-content__row wb-content__row--small">
					<div class="wb-content__label wb-content__label--small" {if $depth>0}style="margin-left: {22*$depth}px"{/if}>
						{if $depth==0}<i class="wb-icon fa-solid fa-folder"></i>{else}<i class="wb-icon fa-solid fa-folder-tree"></i>{/if}{$cat['name']|escape}
					</div>
					<div class="wb-content__field wb-content__field--small">
						<div class="wb-content__setting">
							<input type="text" placeholder="Начните вводить значение" class="wb-content__input wb-content__input--large js-wb-category-input"
								data-category-id="{$cat['id']|escape}" {if $depth>0}data-parent-id="{$cat['parent_id']|escape}"{/if}
								{if isset($wb_sync_categories[$cat['id']])} value="{$wb_sync_categories[$cat['id']]['parent_name']|escape} / {$wb_sync_categories[$cat['id']]['name']|escape}"{/if}>
						</div>
					</div>
				</div>
				{if isset($cat['categories']) and !empty($cat['categories'])}
					{syncCategories categories=$cat['categories'] depth=$depth+1}
				{/if}
			{/foreach}
		{/function}
	
		{if !empty($categories_tree)}
			{syncCategories categories=$categories_tree}
		{else}
			<div class="wb-content__row">
				<div class="wb-content__label"></div>
				<div class="wb-content__field">
					<div class="wb-content__setting">
						Нет категорий для сопоставления. Измените условия в разделе Товары.
					</div>
				</div>
			</div>
		{/if}
	</div>
</div>

<script>
	
	let wb_categories = {$wb_categories};
	let shop_categories = {$shop_categories};
	
	$(wb_categories).each(function (i,e) {
		e.value = e.parent_name + " / " + e.name;
		e.label = e.name;
	});
	
	$.widget("custom.catcomplete", $.ui.autocomplete, {
		
		_create: function() {
			this._super();
			this.widget().menu("option", "items", "> :not(.wb-autocomplete-category)");
		},
		
		_renderMenu: function(ul, items) {
			
			var that = this,
				currentCategory = "";
			
			$.each(items, function(index, item) {
				
				var li;
				
				if (item.parent_name != currentCategory) {
					ul.append( "<li class='wb-autocomplete-category'>" + item.parent_name + "</li>" );
					currentCategory = item.parent_name;
				}
				
				li = that._renderItemData(ul, item);
				
				if (item.parent_name) {
					li.attr( "aria-label", item.parent_name + " : " + item.name );
				}
			});
		}
	});
		
	$('.js-wb-category-input').catcomplete({
		source: wb_categories,
		minLength: 3,
		delay: 300,
		select: function(event,item){
			
			let shop_category_id = $(event.target).attr('data-category-id');
			
			saveSyncSubcategories(shop_category_id,item.item,shop_categories);
		},
		change: function(event,item){
			saveSyncCategory($(event.target).attr('data-category-id'),item.item === null ? null : item.item.id);
		}
	});
	
	function saveSyncSubcategories(shop_category_id,item,shop_categories){

		let ids = [];

		$('.js-wb-category-input').each(function (i,e) {
			if($(e).attr('data-parent-id') == shop_category_id){

				let category_id = $(e).attr('data-category-id');

				$(e).val(item.parent_name + " / " + item.name);
				ids.push(category_id);

				$(shop_categories).each(function (i,e) {
					if(e['id'] == category_id){
						if(e['categories'] != undefined && e['categories'].length > 0){
							saveSyncSubcategories(category_id,item,e['categories']);
						}
						return false;
					}
				});
			}
		});

		if(ids.length > 0){
			$.ajax({
				type: 'post',
				data: {
					wb_category_id: item.id,
					shop_categories: ids,
				},
				url: '?plugin=wildb&action=syncCategories',
			});
		}
	}
	
	function saveSyncCategory(shop_category_id,wb_category_id){
		$.ajax({
			type: 'post',
			data: {
				wb_category_id: wb_category_id,
				shop_category_id: shop_category_id,
			},
			url: '?plugin=wildb&action=syncCategory',
		});
	}

</script>