<div class="wb-content__content" style="display: block">
	<h2 class="wb-content__subtitle">Логи обмена API</h2>
	
	<div class="wb-content__api--switch">
		<div class="wb-content__switch">
			{foreach $tasks as $task => $label}
				<div class="wb-content__switch-item">
					<input id="{$task|escape}" type="radio" value="{$task|escape}" class="wb-content__switch-button" name="task" {if $task == $request_task}checked{/if}>
					<label for="{$task|escape}" class="wb-content__switch-label js-api-task-switch">{$label|escape}</label>
				</div>
			{/foreach}
		</div>
	</div>
	
	<div class="wb-content__block js-api-log-rows">
		{include "./SettingsBlockApiLogRows.html" inline}
	</div>
</div>
