<div class="wb-content__content">
	<h2 class="wb-content__title">Сопоставление характеристик</h2>
	<div class="wb-content__block">
		
		<div class="wb-content__row wb-content__row--small">
			<div class="wb-content__label wb-content__label--small">Наименование</div>
			<div class="wb-content__field wb-content__field--small">
				<div class="wb-content__setting">
					<select class="wb-content__input js-wb-property-sync" name="charcs_title">
						{foreach $shop_features as $group}
							<optgroup label="{$group['group_name']|escape}">
								{foreach $group['group_values'] as $feature}
									<option value="{$feature['value']|escape}"{if $feature['value'] == $settings['charcs_title']} selected{/if}>
										{$feature['title']|escape}
									</option>
								{/foreach}
							</optgroup>
						{/foreach}
					</select>
				</div>
			</div>
		</div>
		
		<div class="wb-content__row wb-content__row--small">
			<div class="wb-content__label wb-content__label--small">Описание</div>
			<div class="wb-content__field wb-content__field--small">
				<div class="wb-content__setting">
					<select class="wb-content__input js-wb-property-sync" name="charcs_description">
						{foreach $shop_features as $group}
							<optgroup label="{$group['group_name']|escape}">
								{foreach $group['group_values'] as $feature}
									<option value="{$feature['value']|escape}"{if $feature['value'] == $settings['charcs_description']} selected{/if}>
										{$feature['title']|escape}
									</option>
								{/foreach}
							</optgroup>
						{/foreach}
					</select>
				</div>
			</div>
		</div>
		
		<div class="wb-content__row wb-content__row--small">
			<div class="wb-content__label wb-content__label--small">Бренд</div>
			<div class="wb-content__field wb-content__field--small">
				<div class="wb-content__setting">
					<select class="wb-content__input js-wb-property-sync" name="charcs_brand">
						<option value="0"{if 0 == $settings['charcs_brand']} selected{/if}>--Пропустить--</option>
						{foreach $shop_features as $group}
							<optgroup label="{$group['group_name']|escape}">
								{foreach $group['group_values'] as $feature}
									<option value="{$feature['value']|escape}"{if $feature['value'] == $settings['charcs_brand']} selected{/if}>
										{$feature['title']|escape}
									</option>
								{/foreach}
							</optgroup>
						{/foreach}
					</select>
				</div>
			</div>
		</div>
		
		<div class="wb-content__row wb-content__row--small">
			<div class="wb-content__label wb-content__label--small">Длина упаковки</div>
			<div class="wb-content__field wb-content__field--small">
				<div class="wb-content__setting">
					<select class="wb-content__input js-wb-property-sync" name="charcs_dimensions_length">
						<option value="0"{if 0 == $settings['charcs_dimensions_length']} selected{/if}>--Пропустить--</option>
						{foreach $shop_features as $group}
							<optgroup label="{$group['group_name']|escape}">
								{foreach $group['group_values'] as $feature}
									<option value="{$feature['value']|escape}"{if $feature['value'] == $settings['charcs_dimensions_length']} selected{/if}>
										{$feature['title']|escape}
									</option>
								{/foreach}
							</optgroup>
						{/foreach}
					</select>
				</div>
			</div>
		</div>
		
		<div class="wb-content__row wb-content__row--small">
			<div class="wb-content__label wb-content__label--small">Ширина упаковки</div>
			<div class="wb-content__field wb-content__field--small">
				<div class="wb-content__setting">
					<select class="wb-content__input js-wb-property-sync" name="charcs_dimensions_width">
						<option value="0"{if 0 == $settings['charcs_dimensions_width']} selected{/if}>--Пропустить--</option>
						{foreach $shop_features as $group}
							<optgroup label="{$group['group_name']|escape}">
								{foreach $group['group_values'] as $feature}
									<option value="{$feature['value']|escape}"{if $feature['value'] == $settings['charcs_dimensions_width']} selected{/if}>
										{$feature['title']|escape}
									</option>
								{/foreach}
							</optgroup>
						{/foreach}
					</select>
				</div>
			</div>
		</div>
		
		<div class="wb-content__row wb-content__row--small">
			<div class="wb-content__label wb-content__label--small">Высота упаковки</div>
			<div class="wb-content__field wb-content__field--small">
				<div class="wb-content__setting">
					<select class="wb-content__input js-wb-property-sync" name="charcs_dimensions_height">
						<option value="0"{if 0 == $settings['charcs_dimensions_height']} selected{/if}>--Пропустить--</option>
						{foreach $shop_features as $group}
							<optgroup label="{$group['group_name']|escape}">
								{foreach $group['group_values'] as $feature}
									<option value="{$feature['value']|escape}"{if $feature['value'] == $settings['charcs_dimensions_height']} selected{/if}>
										{$feature['title']|escape}
									</option>
								{/foreach}
							</optgroup>
						{/foreach}
					</select>
				</div>
			</div>
		</div>
		
		{foreach $wb_features as $wb_feature_id => $wb_feature}
			<div class="wb-content__row wb-content__row--small">
				<div data-tippy-content=".wb_feature_{$wb_feature_id|escape}" class="wb-content__label wb-content__label--small {if $wb_feature['required']}wb-content__label--required{/if}">{$wb_feature['name']|escape}</div>
				<div class="wb-content__tooltip wb_feature_{$wb_feature_id|escape}">
					<div class="wb-content__tooltip-header">Категории WB:</div>
					{foreach $wb_feature['categories'] as $wb_category}
						<div class="wb-content__tooltip-item">{$wb_category|escape}</div>
					{/foreach}
				</div>
				<div class="wb-content__field wb-content__field--small">
					<div class="wb-content__setting">
						<select class="wb-content__input js-wb-feature-sync" wb-feature-id="{$wb_feature_id|escape}">
							<option value="0"{if 0 == $wb_feature['shop_feature_id']} selected{/if}>--Пропустить--</option>
							{foreach $shop_features as $group}
								<optgroup label="{$group['group_name']|escape}">
									{foreach $group['group_values'] as $feature}
										<option value="{$feature['value']|escape}"{if $feature['value'] == $wb_feature['shop_feature_id']} selected{/if}>
											{$feature['title']|escape}
										</option>
									{/foreach}
								</optgroup>
							{/foreach}
						</select>
					</div>
				</div>
			</div>
		{/foreach}
	</div>
</div>

<script>
	
	initTippy();
	
	$('.js-wb-feature-sync').change(function(){
		$.ajax({
			type: 'post',
			data: {
				wb_feature_id: $(this).attr('wb-feature-id'),
				shop_feature_id: $(this).val(),
			},
			url: '?plugin=wildb&action=syncFeature',
		});
	});
	
	$('.js-wb-property-sync').change(function(){
		
		let settings = {}
		
		settings[$(this).attr('name')] = $(this).val()
		
		$.ajax({
			type: 'post',
			data: {
				shop_wildb: settings
			},
			url: '?module=plugins&id=wildb&action=save',
		});
	});
	
</script>
