.wb_assembly_sidebar_block {
	margin: 10px 0;
	padding: 10px;
	font-family: lato, arial, sans-serif;
	background: #fdf7ff;
	border-radius: 15px;
}
.wb_assembly_sidebar_link {
	display: flex;
	align-items: center;
}
.wb_assembly_sidebar_link:before {
	content: "";
	display: block;
	background-image: url('/wa-apps/shop/plugins/wildb/img/wb32.png')!important;
	background-size: contain;
	width: 25px;
	height: 25px;
	margin-right: 5px;
}

.wb-assembly-menu {
	position: absolute;
	top: 10px;
}
.wb-assembly-menu__tabs {
	border-bottom: 1px solid #d1cfd7;
	font-family: lato, arial, sans-serif;
	font-size: 16px;
	font-weight: 440;
	line-height: 20px;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	display: grid;
	grid-template-columns: min-content min-content min-content min-content;
	grid-column-gap: 30px;
}
.wb-assembly-menu__section {
	display: inline-flex;
	list-style: none;
}
.wb-assembly-menu__tab {
	align-items: center;
	border-bottom: 2px solid #0000;
	display: inline-flex;
	padding-bottom: 12px;
	color: #000;
	cursor: pointer;
	text-decoration: none;
	white-space: nowrap;
}
.wb-assembly-menu__tab--selected {
	border-bottom: 2px solid #ff773c;
	transition: all 300ms linear 100ms;
}
.wb-assembly-menu__bottom-panel {
	position: absolute;
	bottom: 10px;
	display: grid;
	grid-column-gap: 20px;
	grid-template-columns: min-content min-content min-content min-content min-content min-content min-content;
}
.wb-assembly-menu__tab--new-tasks:first-child:before {
	background-color: #ff773c;
	border-radius: 50%;
	color: #fff;
	content: "";
	display: block;
	font-size: 15px;
	height: 12px;
	line-height: 18px;
	margin-right: 10px;
	text-align: center;
	width: 12px;
}
.wb-item-ckeckbox {
	box-sizing: border-box;
	cursor: pointer;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
	border-radius: .25rem;
	border: .125rem solid;
}
.wb-item-ckeckbox:hover, .wb-item-ckeckbox:checked {
	transform: scale(1.2);
}
.wb-item-loading {
	padding: 25px;
	text-align: center;
}
.wb-assembly-menu__main {
	
}
.wildb-tabs {
	border: 0;
	background: none;
}
.wb-supply-close {
	margin-bottom: 10px;
	box-sizing: border-box;
}
.wb-supply-close a {
	padding: 5px;
	border: 1px solid #d1cfd7;
	border-radius: 5px;
}
.wb-assembly-menu__supply-name-dialog {
	position: fixed;
	top: calc(50% - 87px);
	left: calc(50% - 175px);
	z-index: 99999;
	padding: 30px 50px;
	box-sizing: border-box;
	border-radius: 10px;
	background: #fdf7ff;
	margin: 10px 0 20px -20px;
	box-shadow: 0 2px 20px rgb(161 159 159);
	display: grid;
	grid-row-gap: 10px;
	text-align: center;
}
.wb-assembly-menu__supply-name-dialog__buttons {
	display: inline-grid;
	grid-gap: 15px;
	grid-template-columns: auto auto;
	margin-top: 20px;
}
.wb-assembly-menu__supply-name-dialog__header {
	font-weight: bold;
	font-size: 18px;
	color: #3a0078;
}
.wb-assembly-menu__supply-name-dialog__background {
	background: #000;
	z-index: 9999;
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	top: 0;
	left: 0;
}
.wb-assembly-error {
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	color: red;
}
.wb-assembly-stickers {
	display: grid;
	gap: 30px;
}
.wb-assembly-stickers__item {
	text-align: center;
}
.wb-assembly-selection {
	margin: 50px auto;
	width: 1000px;
	page-break-before: always;
	font-size: 22px;
}
.wb-spoiler-box {
	max-width: 1000px!important;
	overflow: hidden!important;
	border: 1px solid #E0E0E0!important;
	border-radius: 8px!important;
}
.wb-spoiler-item {
	border-bottom: 1px solid #E0E0E0!important;
	color: rgba(0, 0, 0, 0.4)!important;
}
.wb-spoiler-item__header {
	padding: 10px 20px!important;
	display: flex!important;
	gap: 10px!important;
	justify-content: space-between!important;
	align-items: center!important;
	position: relative!important;
	cursor: pointer!important;
	transition: background-color 0.2s!important;
}
.wb-spoiler-item__title {
	color: black!important;
	font-weight: 550px!important;
	font-family: Verdana!important;
}
.wb-spoiler-item__header, .wb-spoiler-item__header ~ .wb-spoiler-item__panel {
	transition-property: color, background-color!important;
	transition-duration: 0.2s!important;
}
.wb-spoiler-item__header.open, .wb-spoiler-item__header.open ~ .wb-spoiler-item__panel {
	background: #f9f9f9!important;
}
.wb-spoiler-item__panel {
	border: 0!important;
}
.wb-spoiler-item__panel:hover {
	background-color: #f9f9f9!important;
}
.wb-spoiler-item__header::before {
	display: none;
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: -1px;
	height: 1px;
	background-color: transparent;
	transition: background-color .2s;
}
.wb-spoiler-item__header.open::before {
	background-color: #E0E0E0;
}
.wb-spoiler-item__header::after {
	content: "";
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%234f4f4f'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z'/%3E%3C/svg%3E");
	min-width: 20px;
	height: 20px;
	transition: 0.2s;
}
.wb-spoiler-item__header.open::after {
	transform: rotate(180deg);
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%233b71ca'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z'/%3E%3C/svg%3E");
}
.wb-spoiler-item__panel-inner {
	padding-top: 0!important;
}
.wb-trbx-order {
	padding: 5px 45px;
	margin: 10px 0;
	border: 1px solid #fdf7ff;
	border-radius: 8px;
	box-sizing: border-box;
	box-shadow: 0px 0px 3px 0.1px #3a0078;
	position: relative;
}
.wb-trbx-order__title {
	display: grid!important;
	grid-template-columns: 1fr 2fr max-content;
	grid-gap: 30px;
	padding-bottom: 5px;
}
.wb-trbx-order__item {
	display: grid !important;
	grid-template-columns: auto max-content;
	padding-top: 5px;
	padding-left: 35px;
}
.wb-trbx-order__product {
	
}
.wb-trbx-order__sum {
	font-weight: bold;
}
.wb-trbx-order__checkbox {
	position: absolute;
	top: 20px;
	left: 10px;
	padding: 3px;
}
.wb-item-checkbox {
	cursor: pointer;
}