.wb_order_info {
	display: flex;
	align-items: center;
	font-weight: bold;
	margin-top: 2px;
}
.wb_order_info::before {
	content: "";
	display: block;
	background-image: url(../img/wb16.png);
	background-size: contain;
	width: 16px;
	height: 16px;
	margin-right: 5px;
}
.wb-order-section {
	background: #fdf7ff;
	padding: 10px 20px;
	margin: 10px 0 20px -20px;
	border-top: 1px solid #3a0078;
	border-bottom: 1px solid #3a0078;
	box-shadow: 0 1px 2px rgb(161 159 159) inset;
	display: grid;
	grid-gap: 50px;
	grid-template-columns: max-content max-content auto;
}
.wb-order-section__block {
	padding: 3px 0;
	align-items: end;
	display: grid;
	grid-template-rows: max-content auto;
}
.wb-order-section__row {
	padding: 3px 0;
	text-wrap: nowrap;
}
.wb-order-section__value {
	font-weight: bold;
	margin-left: 5px;
}
.wb-order-section__buttons {
	margin-top: 20px;
	display: grid;
	grid-template-columns: max-content max-content;
	grid-gap: 10px;
}
.button--wb {
	border-color:#3a0078;
}
.wb {
	background-image: url('/wa-apps/shop/plugins/wildb/img/wb16.png')!important;
}

.wb-tooltip {
	position: relative;
	margin-left: 5px;
	display: inline-block;
	cursor: pointer;
}
.wb-tooltip__text {
	display: none;
	z-index: 10;
	position: absolute;
	background-color: #3a0078;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	padding: 5px;
	bottom: 150%;
	left: -200%;
}
.wb-tooltip:hover .wb-tooltip__text {
	display: block;
}
