.shopWildbPlugin-backend-product {
	font-weight: bold;
	text-align: center;
	margin: 10px auto;
}
.shopWildbPlugin-info {
	margin: 10px auto;
}
.shopWildbPlugin-section {
	display: grid;
	grid-template-columns: 2fr 2fr;
	padding: 2.5px 0;
	font-size: 12px;
}

.wb-link:hover {
	color: #3a0078 !important;
}