input, select {
	padding: 1px 2px;
}
.wb-container {
	font-family: lato,arial,sans-serif;
}
.wb-title {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	background: #fdf7ff;
	padding: 0 15px;
	border-radius: 15px;
}
.wb-title__header {
	color: #3a0078;
	align-items: center;
	display: flex;
	width: 400px;
	margin-bottom: 0;
}
.wb-content__row {
	display: grid;
	grid-template-columns: 30% auto;
	margin: 10px 0;
}
.wb-content__row--small {
	grid-template-columns: 50% auto;
	margin: 0;
}
.wb-content__content{
	padding: 25px;
}
.wb-content__content--loading {
	text-align: center;
}
.wb-menu {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	padding: 0 24px;
	width: 100%;
}
.wb-menu__items, .wb-menu__subitems {
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	align-items: center;
	box-sizing: border-box;
}
.wb-menu__items {
	padding: 10px;
	display: flex;
}
.wb-menu__dropdown:hover .wb-menu__dropdown-box, .wb-menu__dropdown-box:hover{
	display: block;
}
.wb-menu__dropdown-box {
	display: none;
	z-index: 10;
	position: absolute;
}
.wb-menu__subitems {
	display: block;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin: 15px 0 0 -12px;
	background: #fdf7ff;
	padding: 10px;
	border-radius: 10px;
	color: initial;
}
.wb-menu__item {
	padding: 7px 12px;
	border-radius: 10px;
	margin-right: 2px;
}
.wb-menu__item:hover {
	background: #f0f0f3;
	cursor: pointer;
}
.wb-menu__item--active,.wb-menu__item--active:hover {
	background: #efebf4;
	color: #3a0078;
}
.wb-icon {
	margin-right: 10px;
}
.wb-content {
	padding: 10px;
	width: 100%;
  max-width: 960px;
	margin: 0 auto;
}
.wb-content__block {
	background: #fdf7ff;
	border-radius: 15px;
	margin-bottom: 50px;
	padding: 15px;
}
.wb-content__pager {
	display: flex;
	margin: 0 auto 20px;
	width: 387px;
	grid-column-gap: 20px;
}
.wb-content__api--switch {
	width: 423px;
	margin: 20px auto;
}
.wb-content__title {
	text-align: center;
	margin-bottom: 35px;
}
.wb-content__subtitle {
	text-align: center;
}
.wb-content__label {
	font-weight: 600;
	display: flex;
	padding: 6px 0;
	opacity: 0.8;
	font-size: 12px;
	
}
.wb-content__label, .wb-content__field {
	margin: 5px;
}
.wb-content__field--task {
	display: flex;
	align-items: center;
}
.wb-content__label--required:after {
	color: #ff0000;
	content: "*";
	margin-left: 5px;
	font-weight: 800;
}
.wb-content__label--small, .wb-content__field--small {
	margin: 0;
}
.wb-content__error {
	font-weight: bold;
	color: #ff0000;
}
.wb-content__setting, .wb-content__description {
	margin: 5px 0;
}
.wb-content__description {
	opacity: 0.6;
	line-height: 1.25em;
}
.wb-content__input {
	padding: 3px 5px;
	max-width: 600px;
}
.wb-content__input--large {
	width: calc(100% - 15px);
}
.wb-content__input--small {
	max-width: 60px;
	margin: 0 5px;
}
.wb-content__setting--switch {
	display: inline-grid;
	grid-template-columns: min-content min-content;
	grid-column-gap: 50px;
}
.wb-content__switch {
	display: flex;
	overflow: hidden;
	border: 1px solid #3a0078;
	border-radius: 8px;
}
.wb-content__switch-item {
	float: left;
	display: inline-block;
	text-wrap: nowrap;
}
.wb-content__switch-button, .parent-category-search-popup, .wb-content__row--hidden {
	display: none;
}
.wb-content__switch-label {
	display: inline-block;
	padding: 0px 15px;
	line-height: 34px;
	cursor: pointer;
	user-select: none;
	opacity: 0.75;
	background: #fdf7ff;
	transition: 0.25s;
}
.wb-content__switch-button:checked + label {
	background: #3a0078;
	color: #fff;
	transition: 0.5s;
	opacity: 1;
}
.wb-content__tooltip-header {
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
}
[data-tippy-content] {
	cursor: pointer;
}
.wb-content__rules-categories {
	position: fixed;
	width: 600px;
	max-height: calc(100% - 250px);
	top: 150px;
	left: calc(50% - 200px);
	z-index: 999;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	background: #fdf7ff;
	padding: 20px 0;
	overflow-y: auto;
}
.wb-content__tree-buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 10px 100px;
	grid-column-gap: 50px;
	margin: 10px 0;
}
.wb-content__tasks {
	display: grid;
	grid-column-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.wb-content__tasks--header {
	font-weight: 600;
	text-indent: 25px;
}
.button--category_id {
	width: 100px;
	margin: 0 34px;
	padding: 1px 2px;
	height: 22px;
	line-height: 1;
	border-width: 1px;
	font-size: 12px !important;
}
.button--wb-export {
	width: 250px;
}
.wb-overlay {
	display: none;
	position: absolute;
	z-index: 10;
	width: calc(100% - 200px);
	height: 100%;
	top: 0;
	left: 200px;
	opacity: 0.6;
	background: #000;
}
.wb-content__tree {
	list-style-type: none;
	margin-bottom: 0;
}
.wb-content__tree-expand, .wb-content__tree-select  {
	width: 20px;
	height: 20px;
	text-align: center;
	cursor: pointer;
}
.wb-content__tree-expand {
	font-size: 24px;
	transform: 0.3s;
}
.wb-content__tree-select {
	font-size: 16px;
}
.wb-content__select_stock_rule {
	margin: 0 5px;
	padding: 2px;
}
.wb-content__input--disabled {
	background: rgb(238, 238, 238);
	font-style: italic;
}
.wb-content__save {
	position: fixed;
	bottom: 0px;
}
.wb-stock-rule {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.wb-price-rule {
	display: grid;
	grid-template-columns: 1fr 2fr 14fr 7fr 1fr;
	grid-column-gap: 10px;
	border: 1px solid #ccc;
	padding: 0 10px;
	border-radius: 10px;
	margin: 25px 0;
}
.wb-price-rule__label {
	font-size: 11px;
	text-align: center;
	display: block;
	margin: -6px auto;
	background: #fdf7ff;
	width: 50px;
	font-style: italic;
	font-weight: bold;
	cursor: auto;
}
.wb-price-rule__column--sortable {
	display: flex;
	align-items: center;
}
.wb-price-rule__row {
	margin: 5px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.wb-price-rule__row--icon {
	padding: 5px;
	margin: 0;
	display: inline-flex;
}
.wb-price-rule__row--conditions-icon {
	display: flex;
	height: calc(100% - 52px);
	border-style: dotted;
	border-color: #3a0078;
	border-width: 0px 0px 1px 1px;
	width: 45%;
	float: right;
}
.wb-price-rule_icon {
	display: inline-block;
}
.wb-add-rule {
	border: 1px solid #3a0078;
	padding: 5px 10px;
	display: inline-block;
	border-radius: 5px;
	margin-top: 10px;
}
.wb-add-rule:hover {
	background: #3a0078;
	color: #fff;
}
.wb-delete-stock-rule, .wb-delete-price-rule {
	display: flex;
	align-items: center;
}
table {
	margin: auto;
	width: 95%;
	margin-bottom: 25px;
}

.wb-content__categories-title {
	margin: 0 35px;
	text-align: center;
}

table td {
	padding: 5px;
}

table tr:hover {
	background: #a9a9a9;
}

.tree-categories {
	position: fixed;
	z-index: 999999;
	height: calc(100vh - 10vw);
	width: 90vw;
	margin: 5vw 5vw;
	background: #fff;
	box-shadow: 60px -72px 50px 200px rgba(0, 0, 0, 0.75);
	overflow-y: auto;
}

.tree-close {
	position: fixed;
	right: calc(5vw + 30px);
	top: calc(5vw + 15px);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid #000;
	text-align: center;
	vertical-align: middle;
	line-height: 2;
	cursor: pointer;
	margin-left: auto;
}

.tree-close:hover {
	background: lightgrey;
	text-decoration: underline;
}

.wb-category-sync {
	cursor: pointer;
}

.field {
	margin: 15px auto;
}

#overlay{	
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height:100%;
  display: none;
  background: rgba(0,0,0,0.6);
}
.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
  100% { 
    transform: rotate(360deg); 
  }
}
.is-hide{
  display:none;
}
.wb-autocomplete-category {
	font-weight: bold;
	padding: .2em .4em;
	margin: 0 5px;
	line-height: 1.5;
}
.wb-progressbar-description {
	position: absolute;
	top: calc(50% - 1em/2);
	left: calc(50% - 1em/2);
	font-weight: bold;
}
.table-emulate {
	width: 100%;
	display: table;
	border-collapse: collapse;
}
.table-emulate__row {
	display: table-row;
	border-bottom: 1px solid #E0E0E0;
}
.table-emulate__row a, .table-emulate__row a:visited {
	color: #5067de !important;
	text-decoration: none;
	font-weight: 550;
	line-height: 20px;
	font-family: Verdana;
}
.table-emulate__row:last-child {
	border-bottom: none;
}
.table-emulate__row--header {
	font-weight: 600;
}
.table-emulate__row--header .table-emulate__cell {
	text-wrap: nowrap;
}
.table-emulate__row:first-child > * {
	padding-top: 0;
}
.table-emulate__cell {
	padding: 10px;
	display: table-cell;
	vertical-align: middle;
}
.table-emulate__cell--header {
	font-weight: bold;
}
.table-emulate__field-value {
	display: grid;
}
a.premium-features {
	text-wrap: nowrap;
	color: #5067de !important;
	text-decoration: none;
	font-weight: 550;
	line-height: 20px;
	font-family: Verdana;
}