<div class="table-emulate">
	<div class="table-emulate__row table-emulate__row--header">
		<div class="table-emulate__cell"></div>
		<div class="table-emulate__cell">Наименование</div>
		<div class="table-emulate__cell">Дата</div>
		<div class="table-emulate__cell">QR код</div>
		<div class="table-emulate__cell">Кол-во товаров</div>
	</div>

	{foreach $supplies as $supply}
		<div class="table-emulate__row">
			<div class="table-emulate__cell">
				<input type="checkbox" class="wb-item-checkbox js-wb-supply-check" data-supply-id="{$supply['id']|escape}" data-type="{$type|escape}">
			</div>
			<div class="table-emulate__cell">
				<a href="#" class="table-emulate__field-value js-wb-supply-open" data-supply="{$supply['id']|escape}" data-type="{$type|escape}">{$supply['name']|escape}</a>
			</div>
			<div class="table-emulate__cell">
				<a href="#" class="table-emulate__field-value js-wb-supply-open" data-supply="{$supply['id']|escape}" data-type="{$type|escape}">{$supply['createdAt']|date_format:'d.m.Y H:i:s'}</a>
			</div>
			<div class="table-emulate__cell">
				<a href="#" class="table-emulate__field-value js-wb-supply-open" data-supply="{$supply['id']|escape}" data-type="{$type|escape}">{$supply['id']|escape}</a>
			</div>
			<div class="table-emulate__cell">
				<span class="table-emulate__field-value">{if $supply['orders']}{count($supply['orders'])}{else}0{/if}</span>
			</div>
		</div>
	{/foreach}
</div>