<div data-tabs="wildb-tabs" class="wildb-tabs">
	<div class="wb-supply-close"><a class="js-wb-supply-close" data-type="{$type|escape}"><i class="icon16 larr"></i>Назад</a></div>
	<ul class="tabs-header">
		<li class="tabs-header__item"><a href="" class="tabs-header__link js-wb-tab" data-tab="assembly">Список заданий</a></li>
		<li class="tabs-header__item"><a href="" class="tabs-header__link js-wb-tab" data-tab="trbx">Упаковка для ПВЗ</a></li>
	</ul>
	<div class="tabs-box">
		<div class="tabs-box__item">
			<div class="table-emulate">
				<div class="table-emulate__row table-emulate__row--header">
					<div class="table-emulate__cell"><input type="checkbox" class="wb-item-checkbox js-wb-item-check-all"></div>
					<div class="table-emulate__cell">Задание</div>
					<div class="table-emulate__cell">№ Заказа</div>
					<div class="table-emulate__cell">Дата</div>
					<div class="table-emulate__cell">Наименование</div>
					<div class="table-emulate__cell">Стоимость</div>
				</div>
				
				{foreach $supply_orders as $task}
					<div class="table-emulate__row">
						<div class="table-emulate__cell">
							<input type="checkbox" class="wb-item-checkbox js-wb-item-check" data-order-id="{$task['id']}">
						</div>
						<div class="table-emulate__cell">
							<span class="table-emulate__field-value">{$task['id']|escape}</span>
						</div>
						<div class="table-emulate__cell">
							<span class="table-emulate__field-value">
								<a target="_blank" href="{$backed_url|escape}shop/?action=orders#/orders/id={$task['shop_order_id']|escape}/">
									{shopHelper::encodeOrderId($task['shop_order_id']|escape)}
								</a>
							</span>
						</div>
						<div class="table-emulate__cell">
							<span class="table-emulate__field-value">{$task['date_order']|date_format:'d.m.Y H:i:s'}</span>
						</div>
						<div class="table-emulate__cell">
							<span class="table-emulate__field-value"><a target="_blank" href="?action=products#/product/{$task['product_id']|escape}/">{$task['product']|escape}</a></span>
							<span class="table-emulate__field-value">{$task['sku']|escape}</span>
						</div>
						<div class="table-emulate__cell">
							<span class="table-emulate__field-value">{$task['sum']|escape}</span>
						</div>
					</div>
				{/foreach}
			</div>
		</div>
		<div class="tabs-box__item">
			<div data-accordion=".wb-spoiler-item__header" class="wb-spoiler-box" data-supply-id="{$supply['id']}">
				{foreach $supply['trbx_ids'] as $trbx}
					<div class="wb-spoiler-item">
						<div data-accordion-id="{$trbx}" class="wb-spoiler-item__header">
							<span class="wb-spoiler-item__title">Короб {$trbx}</span>
						</div>
						<div class="wb-spoiler-item__panel">
							<div class="wb-spoiler-item__panel-inner">
								{if isset($trbxs[$trbx])}
									{foreach $trbxs[$trbx] as $order}
										<div class="wb-trbx-order">
											<div class="wb-trbx-order__checkbox"><input type="checkbox" class="wb-item-checkbox js-wb-item-check" data-order-id="{$order['id']}"></div>
											<div class="table-emulate__row wb-trbx-order__title">
												<a target="_blank" href="{$backed_url|escape}shop/?action=orders#/orders/id={$order['shop_order_id']|escape}/">
													{shopHelper::encodeOrderId($order['shop_order_id']|escape)}
												</a>
												<span>WB {$order['id']|escape}</span>
												<span>{$order['date_order']|date_format:'d.m.Y H:i:s'}</span>
											</div>
											<div class="table-emulate__row wb-trbx-order__item">
												<span class="wb-trbx-order__product">
													<a target="_blank" href="?action=products#/product/{$order['product_id']|escape}/">{$order['product']|escape} ({$order['sku']|escape})</a>
												</span>
												<span class="wb-trbx-order__sum">{$order['sum']|escape}</span>
											</div>
										</div>
									{/foreach}
								{/if}
							</div>
						</div>
					</div>
				{/foreach}
			</div>
		</div>
	</div>
</div>