<div class="wb-assembly-content">
	<div class="wb-assembly-menu">
		<h1 class="wb-title__header">Управление коробами</h1>
	</div>

	<div class="wb-assembly-menu__main js-wb-trbx-items">
		<div class="table-emulate">
			{foreach $supply['trbx_ids'] as $trbx}
				<div class="table-emulate__row">
					<div class="table-emulate__cell">
						<input type="checkbox" class="wb-item-checkbox js-wb-trbx-select-check" data-trbx-id="{$trbx|escape}">
					</div>
					<div class="table-emulate__cell">
						<span class="table-emulate__field-value">{$trbx|escape}</span>
					</div>
				</div>
			{/foreach}
		</div>
	</div>

	<div class="wb-assembly-menu__bottom-panel js-wb-assembly-bottom-panel">
		<button class="button button--wb js-wb-trbx-selector-move" disabled>Добавить</button>
		<button class="button button--wb js-wb-trbx-selector-add">Создать</button>
		<button class="button button--wb js-wb-trbx-selector-remove" disabled>Удалить</button>
		<button class="button button--wb js-wb-trbx-selector-close">Закрыть</button>
	</div>
</div>