<div class="wb-assembly-content">
	<div class="wb-assembly-menu">
		<h1 class="wb-title__header">Управление поставками</h1>
	</div>

	<div class="wb-assembly-menu__main js-wb-assembly-items">
		<div class="table-emulate js-wb-supply-manager-list">
			<div class="table-emulate__row table-emulate__row--header">
				<div class="table-emulate__cell">&nbsp;</div>
				<div class="table-emulate__cell">Наименование</div>
				<div class="table-emulate__cell">Дата</div>
				<div class="table-emulate__cell">QR код</div>
				<div class="table-emulate__cell">Кол-во товаров</div>
			</div>

			{foreach $supplies as $supply}
				<div class="table-emulate__row">
					<div class="table-emulate__cell">
						<input type="checkbox" class="wb-item-checkbox js-wb-supply-check" data-supply-id="{$supply['id']|escape}">
					</div>
					<div class="table-emulate__cell">
						<span class="table-emulate__field-value">{$supply['name']|escape}</span>
					</div>
					<div class="table-emulate__cell">
						<span class="table-emulate__field-value">{$supply['createdAt']|date_format:'d.m.Y H:i:s'}</span>
					</div>
					<div class="table-emulate__cell">
						<span class="table-emulate__field-value">{$supply['id']|escape}</span>
					</div>
					<div class="table-emulate__cell">
						<span class="table-emulate__field-value">{if isset($supply['orders']) && is_array($supply['orders'])}{count($supply['orders'])}{else}0{/if}</span>
					</div>
				</div>
			{/foreach}
		</div>
	</div>

	<div class="wb-assembly-menu__bottom-panel js-wb-assembly-bottom-panel">
		<button class="button button--wb js-wb-supply-manager-move" disabled>Перенести</button>
		<button class="button button--wb js-wb-supply-manager-create">Создать поставку</button>
		<button class="button button--wb js-wb-supply-manager-delete" disabled>Удалить поставку</button>
		<button class="button button--wb js-wb-supply-manager-close">Закрыть</button>
	</div>
</div>