<link href="{shopWildbPlugin::nocache($plugin_url|escape|cat:'assets/css/tabs.css')}" rel='stylesheet'>
<link href="{shopWildbPlugin::nocache($plugin_url|escape|cat:'assets/css/fontawesome.css')}" rel='stylesheet'>
<script src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.tabs.min.js"></script>
<script src="{$wa_static_url}wa-content/js/jquery-ui/jquery.ui.accordion.min.js"></script>
<script src="{shopWildbPlugin::nocache($plugin_url|escape|cat:'assets/js/lavalamp.js')}"></script>
<script src="{shopWildbPlugin::nocache($plugin_url|escape|cat:'assets/js/tabs.js')}"></script>
<script src="{shopWildbPlugin::nocache($plugin_url|escape|cat:'assets/js/within-viewport/withinviewport.js')}"></script>
<script src="{shopWildbPlugin::nocache($plugin_url|escape|cat:'assets/js/within-viewport/jquery.withinviewport.js')}"></script>
<script src="{shopWildbPlugin::nocache($plugin_url|escape|cat:'assets/js/accordion.js')}"></script>
<script src="{shopWildbPlugin::nocache($plugin_url|escape|cat:'assets/js/scrolldir.min.js')}"></script>
<div class="wb-assembly-content">
	<div class="wb-assembly-menu">
		<ul class="wb-assembly-menu__tabs" data-name="Tabs">
			{foreach $tasks as $type => $task}
				<li class="wb-assembly-menu__section">
					<a class="wb-assembly-menu__tab js-wb-assembly-tab {if $type === 'new' && count($task['tasks']) > 0}wb-assembly-menu__tab--new-tasks{/if}" data-type="{$type|escape}">
						{$task['name']|escape} {count($task['tasks'])}
					</a>
				</li>
			{/foreach}
		</ul>
	</div>
		
	<div class="wb-assembly-menu__main js-wb-assembly-items">
		{include "./AssemblyNew.html" inline}
	</div>
	
	<div class="wb-assembly-menu__bottom-panel js-wb-assembly-bottom-panel">
		<button class="button button--wb js-wb-assembly-close">Закрыть</button>
	</div>
</div>