<div class="table-emulate">
	<div class="table-emulate__row table-emulate__row--header">
		<div class="table-emulate__cell"><input type="checkbox" class="wb-item-checkbox js-wb-item-check-all"></div>
		<div class="table-emulate__cell">Задание</div>
		<div class="table-emulate__cell">№ Заказа</div>
		<div class="table-emulate__cell">Дата</div>
		<div class="table-emulate__cell">Наименование</div>
		<div class="table-emulate__cell">Стоимость</div>
	</div>

	{foreach $tasks['new']['tasks'] as $task}
		<div class="table-emulate__row">
			<div class="table-emulate__cell">
				<input type="checkbox" class="wb-item-checkbox js-wb-item-check" data-order-id="{$task['id']}">
			</div>
			<div class="table-emulate__cell">
				<span class="table-emulate__field-value">{$task['id']|escape}</span>
			</div>
			<div class="table-emulate__cell">
				<span class="table-emulate__field-value">
					<a target="_blank" href="{$backed_url|escape}shop/?action=orders#/orders/id={$task['shop_order_id']|escape}/">
						{shopHelper::encodeOrderId($task['shop_order_id']|escape)}
					</a>
				</span>
			</div>
			<div class="table-emulate__cell">
				<span class="table-emulate__field-value">{$task['date_order']|date_format:'d.m.Y H:i:s'}</span>
			</div>
			<div class="table-emulate__cell">
				<span class="table-emulate__field-value"><a target="_blank" href="?action=products#/product/{$task['product_id']|escape}/">{$task['product']|escape}</a></span>
				<span class="table-emulate__field-value">{$task['sku']|escape}</span>
			</div>
			<div class="table-emulate__cell">
				<span class="table-emulate__field-value">{$task['sum']|escape}</span>
			</div>
		</div>
	{/foreach}
</div>