<div class="wb-assembly-content">
	<div class="wb-assembly-menu">
		<h1 class="wb-title__header">Управление заказами</h1>
	</div>

	<div class="wb-assembly-menu__main js-wb-assembly-items">
		<div class="table-emulate">
			<div class="table-emulate__row table-emulate__row--header">
				<div class="table-emulate__cell"><input type="checkbox" class="wb-item-checkbox js-wb-order-select-check-all"></div>
				<div class="table-emulate__cell">Задание</div>
				<div class="table-emulate__cell">№ Заказа</div>
				<div class="table-emulate__cell">Дата</div>
				<div class="table-emulate__cell">Наименование</div>
				<div class="table-emulate__cell">Стоимость</div>
			</div>
		
			{foreach $orders_out as $task}
				<div class="table-emulate__row">
					<div class="table-emulate__cell">
						<input type="checkbox" class="wb-item-checkbox js-wb-order-select-check" data-order-id="{$task['id']}">
					</div>
					<div class="table-emulate__cell">
						<span class="table-emulate__field-value">{$task['id']|escape}</span>
					</div>
					<div class="table-emulate__cell">
						<span class="table-emulate__field-value">
							<a target="_blank" href="{$backed_url|escape}shop/?action=orders#/orders/id={$task['shop_order_id']|escape}/">
								{shopHelper::encodeOrderId($task['shop_order_id']|escape)}
							</a>
						</span>
					</div>
					<div class="table-emulate__cell">
						<span class="table-emulate__field-value">{$task['date_order']|date_format:'d.m.Y H:i:s'}</span>
					</div>
					<div class="table-emulate__cell">
						<span class="table-emulate__field-value"><a target="_blank" href="?action=products#/product/{$task['product_id']|escape}/">{$task['product']|escape}</a></span>
						<span class="table-emulate__field-value">{$task['sku']|escape}</span>
					</div>
					<div class="table-emulate__cell">
						<span class="table-emulate__field-value">{$task['sum']|escape}</span>
					</div>
				</div>
			{/foreach}
		</div>
	</div>

	<div class="wb-assembly-menu__bottom-panel js-wb-assembly-bottom-panel">
		<button class="button button--wb js-wb-order-selector-add" disabled>Добавить</button>
		<button class="button button--wb js-wb-order-selector-close">Закрыть</button>
	</div>
</div>