<div class="wb-order-section">
	
	<div class="wb-order-section__block">
		<input type="checkbox" checked class="wb-content__row--hidden js-wb-order-item-check" data-order-id="{$wb_order['id']}">
		<div class="wb-order-section__row">
			<i class="icon16 wb"></i><span>Заказ Wildberries:</span><span class="wb-order-section__value">{$wb_order['id']}</span>
			<div class="wb-tooltip js-wb-copy-wb-id" data-id="{$wb_order['id']}">
				<span class="wb-tooltip__text js-wb-tooltip">Скопировать</span>
				<span><i class="icon16 notebooks"></i></span>
			</div>
		</div>
		
		{if $wb_order}
			
			{$date = $wb_order['date_status']|date_format:'d.m.Y H:i:s'}
		
			<div class="wb-order-section__row"><i class="icon16 ss flag-green"></i><span>Статус продавца:</span><span class="wb-order-section__value">{$seller_status|escape}</span></div>
			<div class="wb-order-section__row"><i class="icon16 ss flag-purple"></i><span>Статус Wildberries:</span><span class="wb-order-section__value">{$wb_status|escape}</span></div>
			<div class="wb-order-section__row"><i class="icon16 clock"></i><span>Дата статуса:</span><span class="wb-order-section__value">{$date}</span></div>
		{/if}
		
		<div class="wb-order-section__row">&nbsp;</div>
		
		<div class="wb-order-section__buttons">
			{if $wb_supply}
				<button class="button button--wb js-wb-order-sticker-button">Этикетка заказа</button>
			{else}
				<div class="wb-order-section__row">&nbsp;</div>
			{/if}
		</div>
	</div>
	
	{if $wb_order}
		<div class="wb-order-section__block">
			<div class="wb-order-section__row">
				<i class="icon16 ss flag-purple"></i><span>Поставка:</span>
				{if $wb_supply}
					<span class="wb-order-section__value">{$wb_supply['id']}</span>
					<div class="wb-tooltip js-wb-copy-wb-id" data-id="{$wb_supply['id']}">
						<span class="wb-tooltip__text js-wb-tooltip">Скопировать</span>
						<span><i class="icon16 notebooks"></i></span>
					</div>
				{else}
					<span class="wb-order-section__value">Не скомплектован</span>
				{/if}
			</div>
			{if $wb_supply}
				<input type="checkbox" checked class="wb-content__row--hidden js-wb-order-supply-check" data-supply-id="{$wb_supply['id']}">
				<div class="wb-order-section__row"><i class="icon16 ss info"></i><span>Наименование:</span><span class="wb-order-section__value">{$wb_supply['name']|escape}</span></div>
				<div class="wb-order-section__row"><i class="icon16 clock"></i><span>Создана:</span><span class="wb-order-section__value">{$wb_supply['createdAt']|date_format:'d.m.Y H:i:s'}</span></div>
				<div class="wb-order-section__row"><i class="icon16 clock"></i><span>Скомлпектована:</span><span class="wb-order-section__value">{$wb_supply['closedAt']|date_format:'d.m.Y H:i:s'}</span></div>
				<div class="wb-order-section__row"><i class="icon16 clock"></i><span>Принята на складе:</span><span class="wb-order-section__value">{$wb_supply['scanDt']|date_format:'d.m.Y H:i:s'}</span></div>
				<div class="wb-order-section__buttons">
					{if $wb_supply['done']}
						<button class="button button--wb js-wb-supply-sticker-button">QR код поставки</button>
					{else}
						<button class="button button--wb js-wb-order-complete-button" data-owner="backendOrder" title="Переместить заказ в другую поставку">Переместить</button>
						<button class="button button--wb js-wb-supply-complete-button" data-owner="backendOrder">Передать в доставку</button>
					{/if}
				</div>
			{else}
				<div class="wb-order-section__buttons">
					<button class="button button--wb js-wb-order-complete-button" data-owner="backendOrder">Собрать в поставку</button>
				</div>
			{/if}
		</div>
	
		{if $wb_supply}
			<div class="wb-order-section__block js-wb-trbx-section">
				{if $wb_order['trbx_id']}
					<div class="wb-order-section__row">
						<i class="icon16 ss pt box"></i><input type="checkbox" checked class="wb-content__row--hidden js-wb-order-trbx-check" data-trbx-id="{$wb_order['trbx_id']}">
						<span>Короб:</span><span class="wb-order-section__value">{$wb_order['trbx_id']}</span>
						<div class="wb-tooltip js-wb-copy-wb-id" data-id="{$wb_order['trbx_id']}">
							<span class="wb-tooltip__text js-wb-tooltip">Скопировать</span>
							<span><i class="icon16 notebooks"></i></span>
						</div>
					</div>
					<div class="wb-order-section__buttons">
						{if !$wb_supply['done']}
							<button class="button button--wb js-wb-trbx-remove-button">Убрать из короба</button>
						{/if}
						<button class="button button--wb js-wb-trbx-sticker-button">Этикетка короба</button>
					</div>
				{else}
					<div class="wb-order-section__row">
						<i class="icon16 wb"></i><span>Короб:</span><span class="wb-order-section__value">без короба</span>
					</div>
					{if !$wb_supply['done']}
						<div class="wb-order-section__buttons">
							<button class="button button--wb js-wb-trbx-complete-button">Добавить в короб</button>
						</div>
					{/if}
				{/if}
			</div>
		{/if}
	{/if}
</div>